
@{
    ViewBag.Title = "Member";
}

<h2>Members</h2>

<div>
    @Html.ActionLink("Member Sign Up", "MemberSignUp", "Member")
    
</div>
<div>
    @Html.ActionLink("Search Member", "SearchMemberWhere", "Member")
</div>

